* {
  font-family: 'Courier New', monospace;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
}

header, section{
  text-align: center;
}

h1 {
  font-size: 56px;
}

body {
  background-color: #D5D0C4;
  color: black;
}

#page-guidance {
  background-color: #3D5E6B;
  color: black;
}

#page-topic{
  font-size: 40px;
}

section{
  background-color: #9CA5B1;
  color: black;
}

footer{
  background-color: #44474D;
  text-align: right;
  font-size: 20px;
}

button {
  background-color: #877C73;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
  
