* {
  font-family: 'Courier New', monospace;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
}

input[type="text"] {
  color: black;
  background-color: white;
}

#write-page {
  background-color: #D5D0C4;
  color: black;
}

#page-guidance {
  background-color: #3D5E6B;
  color: black;
  text-align: center;
}

.buttons {
  background-color: #877C73;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

#text-fields {
  display: flex;
  justify-content: center;
  background-color: #9CA5B1;
  color: black;
  padding: 22px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#text-fields ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
  width: auto;
}

#text-fields li {
  display: table-row;
}

#text-fields li span {
  display: table-cell;
  text-align: right;
  padding-right: 12px;
  width: 220px;
  color: white;
  font-weight: bold;
}

#text-fields li input {
  display: table-cell;
  width: 200px;
  margin-bottom: 6px;
}

#generate {
  display: flex;
  justify-content: center;
  background-color: #9CA5B1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px;
}

.footer {
  background-color: #44474D;
  text-align: right;
  font-size: 20px;
}
