* {
  font-family: 'Courier New', monospace;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
}

#main {
  background-color: #D5D0C4;
  color: black;
}

#page-guidance {
    background-color: #3D5E6B;
    text-align: center;
}

#about-title {
    font-size: 22px;
}

.buttons {
  background-color: #877C73;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

#about-section {
  background-color: #9CA5B1;
  color: black;
  text-align: center;
  padding: 26px;
}

.footer{
  background-color: #44474D;
  text-align: right;
  font-size: 20px;
}